.title{
    font-weight: bold;
    
}

.gridContainer{
    
    background-color: #035397;
    width: 480px;
    padding: 2px;
    margin-bottom: 6%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}